name: ci

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 9.12.0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Audit dependencies (high+)
        run: pnpm audit --audit-level=high --ignore-registry-errors

      - name: Unit tests
        run: pnpm test

      - name: Check (lint/format/types)
        run: pnpm check

      - name: Build
        run: pnpm build
